NeuroCore/NeuroCore/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
NeuroCore/NeuroCore/bin/Debug/NeuroCore.dll
NeuroCore/NeuroCore/bin/Debug/NeuroCore.pdb
NeuroCore/NeuroCore/obj/Debug/NeuroCore.csproj.FileListAbsolute.txt
NeuroCore/NeuroCore/obj/Debug/NeuroCore.dll
NeuroCore/NeuroCore/obj/Debug/NeuroCore.pdb
NeuroCore/BasicClient/bin/Debug/BasicClient.exe
NeuroCore/BasicClient/bin/Debug/BasicClient.pdb
NeuroCore/BasicClient/bin/Debug/BasicClient.vshost.exe
NeuroCore/BasicClient/bin/Debug/BasicClient.vshost.exe.manifest
NeuroCore/BasicClient/bin/Debug/NeuroCore.dll
NeuroCore/BasicClient/bin/Debug/NeuroCore.pdb
NeuroCore/BasicClient/obj/x86/Debug/BasicClient.csproj.FileListAbsolute.txt
NeuroCore/BasicClient/obj/x86/Debug/BasicClient.csprojResolveAssemblyReference.cache
NeuroCore/BasicClient/obj/x86/Debug/BasicClient.exe
NeuroCore/BasicClient/obj/x86/Debug/BasicClient.pdb
NeuroCore/BasicClient/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
NeuroCore/NeuroCore.Tests/bin/Debug/NeuroCore.dll
NeuroCore/NeuroCore.Tests/bin/Debug/NeuroCore.pdb
NeuroCore/NeuroCore.Tests/bin/Debug/NeuroCore.Tests.dll
NeuroCore/NeuroCore.Tests/bin/Debug/NeuroCore.Tests.pdb
NeuroCore/NeuroCore.Tests/bin/Debug/nunit.framework.dll
NeuroCore/NeuroCore.Tests/bin/Debug/nunit.framework.xml
NeuroCore/NeuroCore.Tests/bin/Debug/TestResult.xml
NeuroCore/NeuroCore.Tests/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
NeuroCore/NeuroCore.Tests/obj/Debug/NeuroCore.Tests.csproj.FileListAbsolute.txt
NeuroCore/NeuroCore.Tests/obj/Debug/NeuroCore.Tests.csprojResolveAssemblyReference.cache
NeuroCore/NeuroCore.Tests/obj/Debug/NeuroCore.Tests.dll
NeuroCore/NeuroCore.Tests/obj/Debug/NeuroCore.Tests.pdb
