NeuroCore/NeuroCore/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
NeuroCore/NeuroCore/bin/Debug/NeuroCore.dll
NeuroCore/NeuroCore/bin/Debug/NeuroCore.pdb
NeuroCore/NeuroCore/obj/Debug/NeuroCore.csproj.FileListAbsolute.txt
NeuroCore/NeuroCore/obj/Debug/NeuroCore.dll
NeuroCore/NeuroCore/obj/Debug/NeuroCore.pdb
